@import '../variables';

.text-input {
  margin-bottom: $gap;

  &__label {
    display: inline-block;
    font-weight: 500;
    word-break: break-word;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    font-size: $font-size;
    line-height: 1.55;

    &--required::after {
      content: " *";
      color: $error-color;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    width: 100%;
    font-size: $font-size;
    background-color: #fff !important;
    border: $border-size solid $border-color;
    border-radius: 4px;
    transition: border-color 0.1s ease-in-out;
    height: $input-height;
    line-height: $line-height;
    padding-inline: $input-hor-padding;
    cursor: text;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus, &:active {
      outline: 0;
      border-color: $active-color;
    }

    &--error {
      border-color: $error-color;

      &:focus {
        border-color: $error-color;
      }
    }

    &--focused {
      border-color: $active-color;
    }

    &--disabled {
      opacity: 1;
      cursor: not-allowed;
    }

    &--password {
      padding-right: calc(#{$input-hor-padding} * 2 + 24px); // Make room for the toggle button
    }
  }

  &__error {
    font-size: $error-font-size;
    color: $error-color;
  }

  &__toggle-visibility {
    position: absolute;
    right: $input-hor-padding;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: $border-color;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $placeholder-color;
    }

    &:focus {
      outline: none;
    }
  }
}
