$gap: 1rem;

$input-height: 2.25rem;
$line-height: $input-height - 0.125rem;
$input-hor-padding: $input-height / 3;
$font-size: 0.875rem;
$error-font-size: $font-size - 0.125rem;
$border-size: 0.0625rem;

$active-color: #228be6;
$border-color: #ced4da;
$placeholder-color: #696969;
$error-color: #e03131;
